 <header class="site-header">

            <div class="header-left">

                <!-- Open Sidebar -->

                <button id="header-menu-toggle" class="menu-toggle">

                    <i class="fas fa-bars"></i>

                </button>

                <h2>Muelli Calculator</h2>

            </div>

            <!-- <div class="header-right">

                <button class="lang-btn active" data-lang="de">

                    🇩🇪 Deutsch

                </button>

                <button class="lang-btn" data-lang="en">

                    🇬🇧 English

                </button>

            </div> -->

        </header>